.menu {
  display: flex;

  li {
    margin: 0 20px
  }

  a {
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    color: maroon;
    opacity: .7;

    &:hover {
      opacity: 1;
    }
  }

  .active {
    color: green;
    opacity: 1;
  }
}