.menu {
  display: flex;
}
.menu li {
  margin: 0 20px;
}
.menu a {
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  color: maroon;
  opacity: 0.7;
}
.menu a:hover {
  opacity: 1;
}
.menu .active {
  color: green;
  opacity: 1;
}

/*# sourceMappingURL=menu.module.css.map */
