.auth {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.block {
  width: 100px;
  height: 100px;
  border: 2px solid black;
  margin: 20px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}