.btn {
  background: lightblue;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  border: 0;
  cursor: pointer;
  color: maroon;
}
.btn span {
  margin-left: 5px;
}
.btn:hover {
  opacity: 0.7;
}

.form {
  width: 400px;
  height: 350px;
  border-radius: 15px;
  background: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 0 20px;
}

.label {
  width: 100%;
}
.label span {
  color: #fff;
  font-weight: 600;
  font-size: 18px;
}
.label input {
  width: 100%;
  height: 40px;
  outline: none;
  border: 0;
  border-radius: 5px;
  padding: 0 10px;
  font-size: 20px;
  color: maroon;
  margin-top: 10px;
}

/*# sourceMappingURL=ui.module.css.map */
