.btn {
  background: lightblue;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  border: 0;
  cursor: pointer;
  color: maroon;

  span {
    margin-left: 5px;
  }

  &:hover{
    opacity: .7;
  }
}

.form {
  width: 400px;
  height: 350px;
  border-radius: 15px;
  background: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 0 20px;
}

.label{
  width: 100%;

  span {
    color: #fff;
    font-weight: 600;
    font-size: 18px;
  }

  input {
    width: 100%;
    height: 40px;
    outline: none;
    border: 0;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 20px;
    color: maroon;
    margin-top: 10px
  }
}